body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

/* ===== Navbar ===== */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

/* ===== Navbar Links ===== */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* ===== Navbar Logo ===== */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}